{% extends "base.html" %}

{% block title %}Gestion Sport{% endblock %}

{% block main %}
            <section id="schools">
                <h2>Nos écoles</h2>
                <div class="school-box">
                    {% for school in schoolList %}
                        {% set schoolName = school.getSchoolName() %}
                        <div class="card">
                            {% if schoolName == "Ecole A" %}
                                <img src="images/ecole-a.jpg" alt="image d'une école">
                            {% elseif schoolName == "Ecole B"%}
                                <img src="images/ecole-b.jpg" alt="image d'une école">
                            {% elseif schoolName == "Ecole C"%}
                                <img src="images/ecole-c.jpg" alt="image d'une école">
                            {% endif %}

                            <div class="card-content">
                                <h3 class="card-title"> {{schoolName}} </h3>
                                 {% if schoolName == "Ecole A" %}
                                    <p class="card-text">Effectif total : {{studentACount}} éleves</p>
                                {% elseif schoolName == "Ecole B"%}
                                    <p class="card-text">Effectif total : {{studentBCount}} éleves</p>
                                {% elseif schoolName == "Ecole C"%}
                                    <p class="card-text">Effectif total : {{studentCCount}} éleves</p>
                                {% endif %}
                                
                                <p>Activités disponibles :</p>

                                <div class="tags">
                                    <a href="#boxe">Boxe</a>
                                    <a href="#cyclisme">Cyclisme</a>
                                    <a href="#football">Football</a>
                                    <a href="#judo">Judo</a>
                                    <a href="#natation">Natation</a>
                                </div>
                                <a href="#" class="btn btn-primary">Plus d'infos</a>         
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </section>
            <section id="sports">
                <h2>Activités sportives</h2>
                <div class="sport-box">
                    {% for sport in sportList %}
                        {% set sportName = sport.getSportName() %}                        

                        <div class="card">

                            {% if sportName == "Boxe" %} 
                                <img id="boxe" class="card-img-top nav-item" src="images/boxe.jpg" alt=""> 
                            {% elseif sportName == "Cyclisme" %}
                                <img id="cyclisme" class="card-img-top nav-item" src="images/cyclisme.jpg" alt=""> 
                            {% elseif sportName == "Football" %}
                                <img id="football" class="card-img-top nav-item" src="images/football.jpg" alt=""> 
                            {% elseif sportName == "Judo" %}
                                <img id="judo" class="card-img-top nav-item" src="images/judo.jpg" alt="">
                            {% else %}
                                 <img id="natation" class="card-img-top nav-item" src="images/natation.jpg" alt="">
                            {% endif %}
                            
                            <div class="card-content">
                                <h3>{{sportName}}</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, minima inventore. Vero quam, aliquam dicta ducimus consequuntur minus aperiam! Inventore rerum sequi nobis aperiam autem excepturi molestiae. Natus, non dicta!</p>
                                <a href="#" class="btn btn-primary">Plus d'infos</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </section>
{% endblock %}
